@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.fotoLogo {
    width: 60px;
}

.carrusel {
    width: 1200px;
    margin-top: 30px;
    border: 5px solid black;
}

.carruselF {
    display: flex;
    justify-content: center;
}

.fotosIndex {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
}

.fotoA {
    text-align: center;
    border: 5px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

.fotoA img {
    width: 100%;
}

.fotoA p {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
}

.principalNosotros {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.principalNosotros img {
    width: 1100px;
    box-shadow: 15px 15px 15px rgb(12, 12, 12);
}

.contenedorGridSN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 100px;
    padding-left: 100px;
    column-gap: 30px;
}

.imagenesSN {
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}

.imagenesSN img {
    width: 600px;
}

.imagenesSN p {
    margin-left: 50px;
    margin-right: 50px;
}

.botonSN {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.formulario {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 30px;
    border: 2px solid rgb(83, 77, 77);
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px 5px rgb(230, 4, 4);
}

.banner{
    width: 100%;
}

.titulosContacto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.parrafoContacto {
    display: flex;
    justify-content: center;
}

.iframes {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    margin-top: 30px;
}

.iframeUno {
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
}

.iframeDos {
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
}

.fotosLocales {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
}

.fotoLocalUno img {
    width: 600px;
    box-shadow: 10px 10px 10px black;
    border: 2px solid black;
    margin-top: 30px;
}

.fotoLocalDos img {
    width: 600px;
    box-shadow: 10px 10px 10px black;
    border: 2px solid black;
    margin-top: 30px;
}

.fotoLocalUno h2 {
    text-align: center;
}

.fotoLocalDos h2 {
    text-align: center;
}

.banner {
    margin-top: 40px;
}

.banner img {
    width: 100%;
    height: 200px;
    border: 5px solid black;
}

.contenidoLocal {
    border: 2px solid black;
    background-color: rgb(59, 13, 13);
    box-shadow: 10px 10px 10px rgb(100, 100, 100);
    color: rgb(223, 223, 203);
}

.contenedorProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.imagenesProductos {
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid black;
    box-shadow: 10px 10px 10px black;
}

.imagenesProductos img {
    width: 100%;
}

.imagenesProductos p {
    text-align: center;
    padding-top: 65px;
    font-size: 30px;
    font-family: popins;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: underline black 1px;
}

.espacioProductos {
    margin-top: 40px;
}

.logoFooter img {
    width: 80px;
}

.footerContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: aliceblue;
    background-color: black;
    margin-top: 30px;
    padding-bottom: 20px;
}

.redesFooter {
    display: flex;
    justify-content: end;
    align-items: end;
}

.textoFooter {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.textoFooter a {
    text-decoration: none;
    color: #ff7b00;
    font-family: popins;
    font-size: 15px;
}

.iconosF {
    width: 100px;
    font-size: 30px;
    text-decoration: none;
}

.iconosF a {
    color: #ff7b00;
}


@media (max-width:480px) {

    .carruselF {
        margin: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
    }

    .fotosIndex {
        display: block;
    }

    .fotoA {
        margin-bottom: 20px;
    }

    .footerContenido {
        display: block;
    }

    .redesFooter {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .textoFooter {
        margin-top: 40px;
        width: 100%;
    }

    .logoFooter {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .contenedorProductos {
        display: block;
        align-content: center;
    }

    .imagenesProductos {
        margin-bottom: 20px;
    }

    .imagenesProductos p {
        font-size: 20px;
        padding-top: 5px;
    }


}