.titulosContacto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: $tipografiaPrincipal;
}

.parrafoContacto {
    @include flexbox;
    font-family: $tipografiaPrincipal;
    font-size: 18px;
}

.formulario {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 30px;
    border: 2px solid rgb(83, 77, 77);
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px 5px rgb(230, 4, 4);
    transition:2s;
    &:hover{
        transform: scale(1.01);
    }
}

.bannerC {
    .bannerT {
        width: map-get($tamanos, alto);
    }
}