@media (max-width:480px) {
    .carruselF {
        margin: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
    }

    .fotosIndex {
        display: block;

        .fotoA {
            margin-bottom: 20px;
        }
    }
}