@media (max-width:480px) {
    .contenedorProductos {
        display: block;
        align-content: center;

        .imagenesProductos {
            margin-bottom: 20px;

            p {
                font-size: 15px;
                padding-top: 5px;
            }
        }
    }
}